@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,500&family=Spectral&display=swap');

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: 'Spectral', serif;
}